.navbar{
    background: white;
    margin: 1em;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: .025px;
    display: flex;
    place-content: space-between;
}
p{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    padding: .5em;
}
span{
    color: rgba(13, 131, 228, 0.61);
}
a{
    color: black;
    text-decoration: none;
    display: block;
    margin: 1em;
    padding-top: .2px;
    font-size: 1em;
    cursor: pointer;
}
a:hover{
    font-weight: bold;
}