<!-- <div class="containertask">
    <div class="task">
        <h3>{{task.text}}</h3>
        <p>{{task.date}}</p> 
    </div>
</div> -->
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">{{task.title}}</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="test">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">09</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">{{task.text}}</span>
                                <span class="widget-49-meeting-time">{{task.date}}</span>
                            </div>
                        </div>
                        <!-- <ol class="widget-49-meeting-points"> -->
                            <p class="widget-49-meeting-item"><span>{{task.text}}</span></p>
                        <!-- </ol> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>