<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">{{task.title}}</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">09</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">{{task.text}}</span>
                                <span class="widget-49-meeting-time">{{task.date}}</span>
                            </div>
                        </div>
                       <div class="text">{{task.text}}</div>
                        <div class="widget-49-meeting-action">
                            <fa-icon [icon]="faCoffee"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>